#navbar::before {
    content: "";
    background-color: rgb(214, 57, 57);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 1013px;
    z-index: -1;
    opacity: 0.4;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    font-family: 'Bree Serif', serif;
}

#home::before {
    width: 1013px
}

#services {
    flex-direction: column;
    margin: 0px;
    padding: 0px 66px;
    width: 876px;
    display: flex;
}

#client-section {
    position: inline relative;
}

.client-item {
    padding: 17px;
}

#contact::before {
    content: "";
    position: absolute;
    width: 1013px;
    height: 100%;
    z-index: -1;
    background: url(..//cont3.png);
}

#contact {
    position: inline relative;
}

footer {
    background-color: rgba(54, 8, 11, 0.938);
    color: white;
    padding: 14px 0px;
    width: 1013px;
    left: 0px;
    bottom: -1px;
    position: fixed;
    height: auto;
}